<div class="col-lg-8 mx-auto">
  <div class="row my-3">
    <div class="col-sm-9 d-flex justify-content-center m-5">
      <form action="/" method="POST" id="categoryForm">
        <select class="form-control" id="categoryId" name="categoryId" required>
          <option value="" disabled selected>類別</option>
          {{#each category}}
          <option value="{{ this._id }}" {{#if this.selected}}selected{{/if}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>
  <div class="row my-3">
    <label for="totalAmount" class="col-3 text-end">總金額：</label>
  </div>
  <div class="col-5" style="font-size: 50px;color:#e3885b">{{totalAmount}}
  </div>
</div>
<ul class="list-group">
  {{#each records}}
  <li class="list-group-item" style="color:dimgray">
    <div class="row">
      <div class="col-2 my-auto text-center">
        <i class="{{this.icon}} fa-2x" style="color:lightblue"></i>
      </div>
      <div class="col-4">
        <div class="fs-5">
          {{this.name}}
        </div>
        <div class="date">
          {{this.date}}
        </div>
      </div>
      <div class="col-2 my-auto text-end">
        {{this.amount}} 元
      </div>
      <div class="col-4 my-auto text-center">
        <a class="btn btn-light" href="./expenses/{{this._id}}/edit">修改</a>
        <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
          onsubmit="return confirm('是否確定刪除 {{this.name}} ?');">
          <button class="btn btn-light" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
</div>
<div class="d-flex justify-content-center m-5">
  <a class="btn btn-major px-5" style="border: black solid; 
      background-color: #FF8000; color: #FFFFFF; font-weight:bold" href="./expenses/new">新增支出</a>
</div>

<script src="/javascripts/form.js"></script>