<label for="cars">Choose a car:</label>

<select name="cars" id="cars">
  {{#each category}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>

<ul>
  {{#each records}}
  <div>{{this.name}}{{this.date}}{{this.amount}} </div>
  <a href="./expenses/{{this._id}}/edit">修改</a>
  <form action="./expenses/{{ this._id }}?_method=DELETE" method="post" style="display: inline;">
    <button type="submit">刪除</button>
  </form>
  {{/each}}
</ul>

<a href="./expenses/new">新增支出</a>